*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: rgb(242, 242, 244);
    height: 123px;
    width: 100%;
}
.navbar input{
  display: flex;
  height: 27px;
  width: 275px;
  border-radius: 4px;
    margin: -10px 188px;
    position: relative;
    top: -51px;
}
.login{
  display: flex;
justify-content: center;
align-items: center;
margin:0px 25px;
}
.login input
{
  margin: 0px 25px 50px;
  position: calc();
  top: 51px;
}

.logo{
    display: flex;
    height: 117px;
    margin: 0px 4px;
}
.navbar-list ul {
    float: right;
    margin-right: 20px;
    position: relative;
    top: -78px;
  }
.navbar-list ul li {
  display: inline-block;
  line-height: 31px;
  margin: 0 5px;
  border: 3px solid black;
  border-radius: 19px;
  }
  .navbar-list ul li:hover{
background-color: black;
transition: 0.3s;
  }
  .navbar-list ul li a:hover{
color: white;
transition: 0.3s;
  }
.navbar-list ul li a {
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    line-height: 10px;
    text-decoration: none;
  }
